@tailwind base;
@tailwind components;
@tailwind utilities;

.diamond {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  position: relative;
  top: -8px;
  margin: 0 2px;
}
.diamond:after {
  content: "";
  position: absolute;
  left: -8px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}
.moon {
  box-shadow: 4px 0 0 0 white;
}
