@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'seg';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/static/DSEG7Modern-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'seg-mini';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/static/DSEG7ModernMini-BoldItalic.woff2') format('woff2');
}
body {
  word-break: keep-all;
  overflow-wrap: anywhere;
}